.prompt-content {
    text-align: right;
}

.prompt-content .prompt-heading .heading-text {
    margin-left: 10px;
}

.prompt-content .prompt-buttons {
    text-align: left;
}

.prompt-content .prompt-buttons .cancel-button {
    margin-left: 10px;
}