{
    "presets": [
        [
            "minify",
            {
                "removeConsole": true,
                "mangle": false,
                "evaluate": false
            }
        ]
    ]
}