{
    "env": "development",
    "baseUrl": {
        "development": "http://localhost/visualizer-js",
        "production": "https://sitename.com"
    },
    "apps": {},
    "locales": {
        "en": {
            "direction": "ltr",
            "flag": "flags/us.png"
        },
        "ar": {
            "direction": "rtl",
            "flag": "flags/eg.png"
        }
    }
}