.confirm-content {
    text-align: left;
}

.confirm-content .confirm-heading .heading-text {
    margin-right: 10px;
}

.confirm-content .confirm-buttons {
    text-align: right;
}

.confirm-content .confirm-buttons .cancel-button {
    margin-right: 10px;
}
