.prompt-content {
    text-align: left;
}

.prompt-content .prompt-heading .heading-text {
    margin-right: 10px;
}

.prompt-content .prompt-buttons {
    text-align: right;
}

.prompt-content .prompt-buttons .confirm-button {
    margin-right: 10px;
}
