.animated {
    &.slow {
        animation-duration: 3s !important;
    }
    &.normal {
        animation-duration: 1s !important;
    }
    &.speedy {
        animation-duration: 0.3s !important;
    }                          
}
