.alert-wrapper {
    border: 1px solid #f1f1f1;
    background: #FFF;
    color: #333;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    width: auto;
    font-weight: bold;
    position: fixed;
    z-index: 100000;
}

.alert-wrapper .alert-message {
    display: inline-block;
    margin-right: 6px;
}
/* Labels */
.alert-wrapper.success {
    color: #33CC66;
    border-top-color: #33CC66;
}

.alert-wrapper.info {
    color: #3399CC;
    border-top-color: #3399CC;
}

.alert-wrapper.error {
    color: #f95757;
    border-top-color: #f95757;
}

.alert-wrapper.warning {
    color: #FF6600;
    border-top-color: #FF6600;
}

.alert-wrapper.loading {
    color: #222;
    border-top-color: #222;
}

/** Labels */