/* confirm Box */
.confirm-box {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100000;
    width: 100%;
}

.confirm-content {
    display: inline-block;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px #ccc;
}

.confirm-content .confirm-heading {
    border-top: 3px solid;
    padding: 10px 30px;
    font-size: 1.5em;
    border-bottom: 1px solid#eee;
    margin-bottom: 11px;
}

.confirm-content .confirm-heading .heading-text {
    display: inline-block;
}

.confirm-content .confirm-message {
    padding: 0px 30px;
}

.confirm-content .confirm-buttons {
    padding: 10px 30px;
}

.confirm-content .confirm-buttons button {
    padding: 10px 16px;
    border-radius: 4px;
}

.confirm-content .confirm-buttons .cancel-button {
    border: 1px solid #eee;
}

/** confirm Box */

/* Labels */
/* Info Label */

.confirm-content.info .confirm-heading {
    border-top-color: #3399CC;
}

.confirm-content.info .confirm-buttons .confirm-button {
    background: #3399CC;
    color: #FFF;
    font-weight: bold;
}

.confirm-content.info .confirm-buttons .confirm-button:focus {
    box-shadow: 0px 0px 1px 1px #3090C0;
}

/** Info Label */
/* Warning Label */
.confirm-content.warning .confirm-heading {
    border-top-color: #FF9900;
}

.confirm-content.warning .confirm-buttons .confirm-button {
    background: #FF9900;
    color: #FFF;
    font-weight: bold;
}

.confirm-content.warning .confirm-buttons .confirm-button:focus {
    box-shadow: 0px 0px 1px 1px #FFA724;
}
/** Warning Label */

/* Danger Label */
.confirm-content.danger .confirm-heading {
    border-top-color: #FF1414;
}

.confirm-content.danger .confirm-buttons .confirm-button {
    background: #FF1414;
    color: #FFF;
    font-weight: bold;
}

.confirm-content.danger .confirm-buttons .confirm-button:focus {
    box-shadow: 0px 0px 1px 1px #ff2222;
}

/** Danger Label */

/* Success Label */
.confirm-content.success .confirm-heading {
    border-top-color: #58D558;
}

.confirm-content.success .confirm-buttons .confirm-button {
    background: #58D558;
    color: #FFF;
    font-weight: bold;
}

.confirm-content.success .confirm-buttons .confirm-button:focus {
    box-shadow: 0px 0px 1px 1px #50D350;
}
/** Success Label */
/** Labels */
