/* Prompt Box */

@mixin promptLabel($labels) {
    @each $label, $color in $labels {
        &.#{$label} {
            .prompt-input:focus {
                border-color: map-get($color, color);
            }
            .prompt-heading {
                border-top-color: map-get($color, color);
            }
            .prompt-form .prompt-input:focus {
                border-color: map-get($color, color);
            }
            .prompt-buttons .confirm-button {
                background: map-get($color, color);
                font-weight: bold;
                color: map-get($color, foregroundColor);
            }
        }
    }
}

.prompt-box {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    text-align: center;
    /* Fixing select 2 dropdown z-index if exists in the prompt */
    &+.select2-container {
        z-index: 100000;
    }
}

.prompt-content {
    display: inline-block;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #ccc;
    position: relative;
    z-index: 100;
    &.centerize {
        top: 35%;
    }
    .prompt-heading {
        border-top: 3px solid;
        padding: 10px 30px;
        font-size: 1.5em;
        border-bottom: 1px solid#eee;
        margin-bottom: 11px;
        .heading-text {
            display: inline-block;
        }
    }
    .prompt-message {
        padding: 1rem 3rem;
    }
    .prompt-form {
        display: block;
        padding: 5px 30px;
        .prompt-input {
            display: block;
            margin: 10px 0;
            width: 100%;
            padding: 6px 12px;
            border: 1px solid #eee;
        }
        .prompt-buttons {
            button {
                margin: 10px 0 0;
                padding: 10px 16px;
                border-radius: 4px;
                &.cancel-button {
                    border: 1px solid #eee;
                }
            }
        }
    }
    /* Labels */
    @include promptLabel($alertLabels);
    /** Labels */
}

/** Prompt Box */