$errorColor: red;
$validSuccessColor: #9fd222;
form.validatable {
    .form-group {
        .err {
            display: none;
        }
        &.errorable {
            color: $errorColor;
            input, select {
                color: $errorColor;
                border-color: $errorColor;
            }

            .err.visible {
                color: $errorColor;
                display: block;
            }
        }

        &.valid {
            color: $validSuccessColor;
            font-weight: bold;

            input, select {
                color: $validSuccessColor;
                border-color: $validSuccessColor;
            }
        }
    }
}